@font-face
  font-family: 'Abril Fatface';
  src: url('/fonts/AbrilFatface-Regular.ttf')  format('truetype'); 
  font-weight: 400;

@font-face
  font-family: 'Vollkorn';
  src: url('/fonts/Vollkorn-Regular.ttf')  format('truetype'); 
  font-weight: 400;

@font-face
  font-family: 'Vollkorn';
  src: url('/fonts/Vollkorn-Italic.ttf')  format('truetype'); 
  font-weight: 400;
  font-style: oblique;
