@import fonts

body
  background: #777

// #content
//   background: #779

#textbook
  min-height: 100%
  height: 100%
  background: #fcfaf2

.cover
  h1
    padding-top: 2em
    padding-bottom: 6em
    text-align: center
    font-size: 4em

h1 
  font-family: 'Abril Fatface'
  font-weight: 400
  padding-bottom: 1em
  // font-style: italic

.quote, .quote > *
  // font-size: 1.6rem
  font-family: 'Vollkorn'
  font-style: oblique
  
  p 
    padding-left: 15px
  p:first-child
    padding-top: 0em
    margin-top: 0em
  
.img-source
  width: 48px
  max-width: 48px
  
.align-right
  text-align: right;

.pad-10
  padding-right: 1em

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video
  border: 2px solid #777
