+title("Chapter 1")
+subtitle("When to fundraise")

h1 I. When to fundraise

h3 Either be in fundraising mode or don’t be in fundraising mode.
+quote('pg')
  p One of the things that surprises founders most about fundraising is how distracting it is. When you start fundraising, everything else grinds to a halt. The problem is not the time fundraising consumes but that it becomes the top idea in your mind. A startup can't endure that level of distraction for long. <br /> An early stage startup grows mostly because the founders make it grow, and if the founders look away, growth usually drops sharply.
