+title("Chapter 2")
+subtitle("What investors are looking for")

h1 II. What investors are looking for

p Paul Graham’s recipe for convincing investors:
+quote('pg')
  p If you're saying something you know is true, you'll seem confident when you're saying it. Conversely, never let pitching draw you into bullshitting. As long as you stay on the territory of truth, you're strong. Make the truth good, then just tell it.

#accordion.panel-group
  +panel('Make something worth investing in.')
    | Being worth investing in means you are a good bet:
    +quote('pg')
      p To prove you're worth investing in, you don't have to prove you're going to succeed, just that you're a sufficiently good bet.

  +panel('Understand why it\'s worth investing in.')
    | What makes a startup a sufficiently good bet?
    +quote('pg')
      p In addition to formidable founders, you need a plausible path to owning a big piece of a big market. Founders think of startups as ideas, but investors think of them as markets. If there are x number of customers who'd pay an average of $y per year for what you're making, then the total addressable market, or TAM, of your company is $xy. Investors don't expect you to collect all that money, but it's an upper bound on how big you can get.
      p Your target market has to be big, and it also has to be capturable by you. But the market doesn't have to be big yet, nor do you necessarily have to be in it yet. Indeed, it's often better to start in a small market that will either turn into a big one or from which you can move into a big one. There just has to be some plausible sequence of hops that leads to dominating a big market a few years down the line.
      p But every company that gets really big is "lucky" in the sense that their growth is due mostly to some external wave they're riding, so to make a convincing case for becoming huge, you have to identify some specific trend you'll benefit from. Usually you can find this by asking "why now?" If this is such a great idea, why hasn't someone else already done it? Ideally the answer is that it only recently became a good idea, because something changed, and no one else has noticed yet.
    +quote('vh')
      p Whether they’re reading an elevator pitch or listening to a presentation, investors care most about actual traction in a seemingly large market.
      p Traction is a measure of your product’s engagement with its market, a.k.a. product/market fit. In order of importance, it is demonstrated through profit, revenue, customers, pilot customers, non-paying users, and verified hypotheses about customer problems. And their rates of change.
      p A story without traction is a work of fiction. You must start building your product and start testing it with your market before you start raising money. If this seems impossible, reduce scope. Put your idea on a piece of paper and start testing it with customers: “Does this solve your problem? How much would you pay for it?” This is the kind of data that can sway investors, even if your product is only a piece of paper.
      p Investors want to invest in startups that will be successful with or without them. And those who succeed don't wait for investors before they begin to create. They can't wait to carry their idea forward.

  +panel('Explain that clearly to investors.')
    +quote('pg')
      p Convince yourself that your startup is worth investing in, and then when you explain this to investors they'll believe you. And by convince yourself, I don't mean play mind games with yourself to boost your confidence. I mean truly evaluate whether your startup is worth investing in. If it isn't, don't try to raise money. But if it is, you'll be telling the truth when you tell investors it's worth investing in, and they'll sense that.
      p You don't have to be a smooth presenter if you understand something well and tell the truth about it. Founders think they're trying to convince investors of something very uncertain—that their startup will be huge—and convincing anyone of something like that must obviously entail some wild feat of salesmanship. But in fact when you raise money you're trying to convince investors of something so much less speculative—whether the company has all the elements of a good bet—that you can approach the problem in a qualitatively different way. You can convince yourself, then convince them.
      p And when you convince them, use the same matter-of-fact language you used to convince yourself. You wouldn't use vague, grandiose marketing-speak among yourselves. Don't use it with investors either. It not only doesn't work on them, but seems a mark of incompetence. Just be concise. Many investors explicitly use that as a test, reasoning (correctly) that if you can't explain your plans concisely, you don't really understand them. But even investors who don't have a rule about this will be bored and frustrated by unclear explanations.

a(href="http://paulgraham.com/convince.html") 
  i.fa.fa-globe  
  span  Source
