+title("Chapter 3")
+subtitle("How to meet investors")

h1 III. How to meet investors

#accordion.panel-group
  +panel('Introductions')
    p How to get investors to pay attention:
    +quote('vh')
      p Don’t spam investors with your business plan. Instead, convince middlemen to introduce you to investors. An effective middleman is simply someone investors listen to — often another entrepreneur or investor.
    p Get middlemen to help you by providing them with the following tools:
    +quote('vh')
      ol
        li An elevator pitch. The major components of an elevator pitch are traction, product, team, and social proof. And investors care about traction over everything else.
        li Your elevator pitch should include a high-concept pitch: a single sentence that distills your startup’s vision. A high concept pitch is the perfect meme for fans and investors who are spreading the word about your company.
        li Also consider sending investors a “ten-slide” deck that tells a compelling story about your team, product, traction, and plans.
        li You don’t need a "business plan".
        li Don’t ask for an NDA — investors won’t sign one. Your elevator pitch and deck probably won’t get in the hands of the competition, but you should assume they will. So don’t share information that must remain confidential.

  +panel('High-concept pitch')
    p Every startup should also have a high concept pitch:
    +quote('vh')
      table.table.table-hover
        tr
          td.align-right.pad-10 
            span.label.label-default Dogster
          td Friendster for dogs.
        tr
          td.align-right.pad-10 
            span.label.label-default YouTube
          td Flickr for video. 
        tr
          td.align-right.pad-10 
            span.label.label-default Cisco
          td We network networks. 
        tr
          td.align-right.pad-10 
            span.label.label-default Songbird
          td The Firefox of media players. 
        tr
          td.align-right.pad-10 
            span.label.label-default Grockit
          td Massively Multiplayer Online Learning. 
        tr
          td.align-right.pad-10  
            span.label.label-default Sequoia Capital
          td The entrepreneurs behind the entrepreneurs.
        tr
          td.align-right.pad-10 
            span.label.label-default Ning
          td Create your own social network. 
    p Why you need one of these:
    +quote('vh')
      p First, your fans need a simple way to spread the word about your business. Investors use the high-concept pitch when they describe your startup to other investors. Customers use the pitch when they rave about your product. And the press uses it when they cover your company. For example, see "Comparing The Flickrs of Video" on techcrunch.com. Second, a high-concept pitch is the best way to describe your product and vision within an elevator pitch. Bad elevator pitches go on and on about the product. Good ones boil it down to a high-concept pitch. The rest of the elevator pitch should be devoted to your traction, product, team, and social proof.

  +panel('Elevator pitch')
    p The introduction gets an investor’s attention, but the elevator pitch is what gets you the meeting.
    p 
      a(href="http://venturehacks.com/", target="_blank") Venture Hacks 
      | put this fictional elevator pitch together for Ning.com. It’s a great example of how to write one. Feel free to add your own stuff:
    .panel.panel-default
      .panel-body
        blockquote
          p Subject: Introducing Ning to Blue Shirt Capital [A useful subject line!]

          p Hi [Middleman],

          p Thanks for offering to introduce us to Blue Shirt Capital. [Reiterating the social proof of the introducer.] I've attached a short presentation about our company, Ning. [I attached a deck.]

          p Briefly, Ning lets you create your own social network for anything. For free. In 2 minutes. [What’s the high concept pitch? What does the product help the customer do? Who is the customer?]

          p It's as easy as starting a blog. [What's the metaphor?] Try it at: http://ning.com [Link to the product, screencast, or screenshots.]

          p We built Ning to unlock the great ideas from people all over the world who want to use this amazing medium in their lives. [What's the big problem or opportunity?] We have over 115,000 user-created networks, and our page views are growing 10% per week. [Traction.] We previously raised $44M from Legg Mason and others, including myself. [More traction and social proof.]
        
          p Before Ning, I started Netscape (acquired by AOL for $4.2B) and Opsware (acquired by HP for $1.6B). [Team’s past successes.] 

          p Blue Shirt’s investments in companies like Extensive Enterprises tell me that they could be a great partner for Ning. [Why are you interested in this investor?] We're starting meetings with investors next week, and I would love to show Blue Shirt what we're building at Ning. [Call to action and subtle scarcity.]

          p Best,
          p Marc Andreessen

          p xyz@ning.com
          p 415.555.1212 [Contact information — how thoughtful.]

    p Follow this formula and you are sure to have a good elevator pitch.

  +panel('Deck')
    p Venture Hacks highlights David Cowan’s (Bessemer Venture Partners) deck￼template, and it’s fantastic. It forces you to distill information into as little space as possible, which really helps you boil down your story.
    ul
      li Cover. Include your logo, tagline, and complete contact information.
      li Summary. Summarize the key, compelling facts of the company. Make sure you cover all the topics that are in your elevator pitch — in fact, just steal the content from the elevator pitch.
      li Team. Highlight the past accomplishments of the team. If your team has been successful before, investors may believe it can be successful again. Include directors or advisors who bring something special to the company. Don’t include positions you intend to fill — save that for the milestones slide. Put yourself last: it seems humble and lets you tell a story about how your career has led to the discovery of the...
      li Problem. Describe the customer, market, and problem you address, without getting into your product. Emphasize the pain level and the inability of competitors to satisfy the need.
      li Solution. Introduce your product and its benefits and describe how it addresses the problem you just described. Include a demo such as a screencast, a link to working software, or pictures. God help you if you have nothing to show.
      li Technology. Describe the technology behind your solution. Focus on how the technology enables the differentiated aspects of your solution. If appropriate, mention patent status.
      li Marketing. Who are the customers? How big is the market? You summarized this in your Problem slide and this is your opportunity to elaborate. How are you going to acquire customers? What customers have you already acquired?
      li Sales. What’s your business model? If you have sales, discuss the sales you’ve made and your pipeline. What are the microeconomics and macroeconomics that turn your business into a $X million revenue business? Emphasize the microeconomics (each user is worth $1/year because...) instead of the macroeconomics (if we can get 1% of a $10B market...).
      li Competition. Describe why customers use your product instead of the competition’s. Describe any competitive advantages that remain after the competition decides to copy you exactly. Never deny that you have competitors — it's okay to compete. Against anyone.
      li Milestones. Describe your current status and prospective milestones for the next 1-3 quarters for your product, team, marketing, and sales. Use a table with the quarters on the x-axis and the functions on the y-axis. Also include quarterly and cumulative gross burn (your expenses, assuming zero revenue) for the next 1-3 quarters. Don’t build a detailed financial model if you don’t have past earnings, a significant financial history, or insight into the issue. What hypotheses did you test in the last round of financing and what were the results? What hypotheses will you test with this round?
      li Conclusion. This slide can be inspirational, a larger vision of what the company could accomplish if these current plans are realized, or a rehash of the Summary slide.
      li Financing. Dates, amounts, and sources of money raised. How much money are you raising in this round? Restate the hypotheses that you will test in this round.

  +panel('Which middlemen to work with')
    p The best middlemen are investors <em>that are participating in your round</em> introducing you to their investor buddies, or entrepreneurs introducing you to investors <em>that invested in them</em>. Next are middlemen that are trusted as a good source of deal flow by the investors they introduce you to.
    p Avoid middlemen that are investors but are not investing in your round. Obviously avoid middlemen that introduce you to investors whom they barely know. It makes you look bad.

  +panel('Following up')
    p Follow up once per week with a simple:
      blockquote
        :markdown
          First Name,

          Just following up on the below. 

          Thanks,

          Not-desparate entrepreneur

    p Or better, if you have the numbers:
      blockquote
        :markdown
          First Name,

          Just a quick update on our round. We’re now 75% full with £750k out of £1m raised. Last week’s user stats:
          
            - 15% sign up growth
            - Retention up 2%
            - Got an offer from Big Partner Ltd.
          
          Look forward to hearing from you,
          
          You

  +panel('Hacking Angel list')
    p If you cannot get introductions, consider that your contacts might be trying to tell you something.
    p Still, if you have simple exhausted your network and need more investors to speak to, here is a simple way to get investor email addresses. Expect near zero success rates:
    ul
      li Filter 
        a(href="http://angel.co", target="_blank") Angel.co
        |’s investor list for your city (and sector)
      li Download a CSV file with their names
      li Add a column in the spreadsheet and manually fill this with the “@domain.com” name of the company for which you think they work
      li Go to www.voilanorbert.com and test their first name, last name and domain name for working email addresses
      li Copy the verified email addresses into your spreadsheet
      li Guess the email addresses you could not verify via this method
      li Get an account at 
        a(href="http://sendbloom.co", target="_blank") Sendbloom.co 
        | (10% off for the first three months if you say you are from Emerge) and create a campaign
      li Upload your spreadsheet
      li Email the investors cold about your business
