+title("Chapter 4")
+subtitle("Securing investment")

h1 IV. Securing investment

#accordion.panel-group
  +panel('What to say in the first meeting with investors')
    p Something here 1
  +panel('Getting to term sheet')
    p Something here 2
  +panel('Valuations')
    +quote('pg')
      :markdown
        Valuations are fiction.
        
        VCs admit that valuations are an artifact. They decide how much
        money you need and how much of the company they want, and those
        two constraints yield a valuation.

        Valuations increase as the size of the investment does. A company
        that an angel is willing to put $50,000 into at a valuation of a
        million can't take $6 million from VCs at that valuation. That
        would leave the founders less than a seventh of the company
        between them (since the option pool would also come out of that
        seventh). Most VCs wouldn't want that, which is why you never
        hear of deals where a VC invests $6 million at a premoney
        valuation of $1 million.

        If valuations change depending on the amount invested, that shows
        how far they are from reflecting any kind of value of the
        company.

        Since valuations are made up, founders shouldn't care too much
        about them. That's not the part to focus on. In fact, a high
        valuation can be a bad thing. If you take funding at a premoney
        valuation of $10 million, you won't be selling the company for 20.
        
        You'll have to sell for over 50 for the VCs to get even a 5x
        return, which is low to them. More likely they'll want you to
        hold out for 100. But needing to get a high price decreases the
        chance of getting bought at all; many companies can buy you for
        $10 million, but only a handful for 100. And since a startup is
        like a pass/fail course for the founders, what you want to
        optimize is your chance of a good outcome, not the percentage of
        the company you keep.

        So why do founders chase high valuations? They're tricked by
        misplaced ambition. They feel they've achieved more if they get a
        higher valuation. They usually know other founders, and if they
        get a higher valuation they can say "mine is bigger than yours."
        But funding is not the real test. The real test is the final
        outcome for the founder, and getting too high a valuation may
        just make a good outcome less likely.
        The one advantage of a high valuation is that you get less
        dilution. But there is another less sexy way to achieve that:
        just take less money.
