+title("Chapter 4")
+subtitle("Securing investment")

h1 IV. Securing investment

#accordion.panel-group
  +panel('What to say in the first meeting with investors')
    p These tips on investor meetings are largely taken from a webinar with Dan Martell, Founder of 
      a(href="http://clarity.fm", target="_blank") Clarity.fm
      |, who has raised multiple multi million dollar rounds for US startups.
    ol
      li <b>Goal of the meeting</b>: your goal should be to, in order of preference:
        ol
          li secure a cheque
          li get a signed term sheet
          li get their verbal commitment to be a lead investor and an amount
          li get their verbal commitment to follow a lead investor/participate in a ‘party round’ (a round where there is no lead) and an amount
          li a specific set of due diligence questions they need to answer before making a decision and a date agreed for another meeting
          li a clear “no”.
      li How you should <b>structure your meeting</b>:
        ol
          li [1min] <i>“Aha moment”</i>. What made you realise this was a good idea?
          li [2min] <i>Progress</i>: what have you built, how many users do you have, how much recurring revenue, how much investment have you raised, etc. Keep it short, bring out the key metrics. If you waffle here, it’ll be immediately clear to the investor that you are not on it
          li [2min] <i>Product Demo</i>. Just give your product to the investor. Hand it over to them. If that makes no sense, then tell them a customer story while walking them through the product
          li [1min] <i>Market</i>: why now? What is the market size? Now, in five years? (the story you want to tell here is that you have discovered a new / niche market that no one has cornered yet because it is so new, but which will grow into a MASSIVE market in 5 years. You are riding a wave)
          li [1min] <i>Team</i>: this is why we are killer
      li <b>Bad meetings</b>:
        ol
          li drag on. Try to keep it short to create a sense that you are busy hustling. Aim for 30min. Get ready to leave just when you notice that the investor is starting to make suggestions to you, which is a sign that they are interested.
          li reveal that you haven’t done any research on the investor you are meeting
          li fail to generate a sense of momentum / traction (you are talking about the wrong things, or you have no traction)
          li are argumentative (you look like you are hard to work with)
          li don’t include a product demo (you are missing out on the best way to convince your investor)
          li don’t establish rapport between you and the investor (you didn’t ask enough questions!)
          li end with a “maybe” (bin them!)

  +panel('Getting to term sheet')
    p If you are new to the world of term sheets, see 
      a(href="http://www.seriesseed.com", target="_blank") www.seriesseed.com
      |  for an open-source, crowd-sourced repository of deal documents used by UK investors. This is a good basis to start from. Also read 
      a(href="http://www.amazon.co.uk/Venture-Deals-Smarter-Lawyer-Capitalist-ebook/dp/B00AO2PWOI", target="_blank")“Venture Deals” by Brad Feld 
      | - it’s too much to summarise here, and it’s an excellent book. Well worth the read.
    p In general, follow the principle of ‘hear no till you hear yes’:
    +quote('pg')
      p Treat investors as saying no till they unequivocally say yes, in the form of a definite offer with no contingencies. [...] Investors prefer to wait if they can. What's particularly dangerous for founders is the way they wait. Essentially, they lead you on.
    p And never leave a meeting with an investor without asking what happens next.
    +quote('pg')
      p What more do they need in order to decide? Do they need another meeting with you? To talk about what? And how soon? Do they need to do something internally, like talk to their partners, or investigate some issue? How long do they expect it to take? Don't be too pushy, but know where you stand. If investors are vague or resist answering such questions, assume the worst; investors who are seriously interested in you will usually be happy to talk about what has to happen between now and wiring the money, because they're already running through that in their heads.
    a(href="http://paulgraham.com/fr.html", target="_blank")
      i.fa.fa-external-link-square  
      |  Source
    p Equally, you want to focus on securing a <b>lead investor</b>. A lead investor will put in a significantly higher amount than the other investors in the round. Once you have a lead, you can set a deadline for the other investors and work toward this, thereby creating a sense of scarcity. The reason having a lead is good is that they will be more likely to help you out during hard times because they are so much more significantly invested than the others. You want to be able to rely on someone experienced to help you out when you’re most in need.

  +panel('Valuations')
    +quote('pg')
      :markdown
        Valuations are fiction.
        
        VCs admit that valuations are an artifact. They decide how much
        money you need and how much of the company they want, and those
        two constraints yield a valuation.

        Valuations increase as the size of the investment does. A company
        that an angel is willing to put $50,000 into at a valuation of a
        million can't take $6 million from VCs at that valuation. That
        would leave the founders less than a seventh of the company
        between them (since the option pool would also come out of that
        seventh). Most VCs wouldn't want that, which is why you never
        hear of deals where a VC invests $6 million at a premoney
        valuation of $1 million.

        If valuations change depending on the amount invested, that shows
        how far they are from reflecting any kind of value of the
        company.

        Since valuations are made up, founders shouldn't care too much
        about them. That's not the part to focus on. In fact, a high
        valuation can be a bad thing. If you take funding at a premoney
        valuation of $10 million, you won't be selling the company for 20.
        
        You'll have to sell for over 50 for the VCs to get even a 5x
        return, which is low to them. More likely they'll want you to
        hold out for 100. But needing to get a high price decreases the
        chance of getting bought at all; many companies can buy you for
        $10 million, but only a handful for 100. And since a startup is
        like a pass/fail course for the founders, what you want to
        optimize is your chance of a good outcome, not the percentage of
        the company you keep.

        So why do founders chase high valuations? They're tricked by
        misplaced ambition. They feel they've achieved more if they get a
        higher valuation. They usually know other founders, and if they
        get a higher valuation they can say "mine is bigger than yours."
        But funding is not the real test. The real test is the final
        outcome for the founder, and getting too high a valuation may
        just make a good outcome less likely.
        The one advantage of a high valuation is that you get less
        dilution. But there is another less sexy way to achieve that:
        just take less money.
