+title("Chapter 5")
+subtitle("How to manage investors once on board")

h1 V. How to manage investors once on board

p Update your investors regularly. This is so, so important. It creates a feeling of trust on the investors’ side - trust that you will share bad news when there are any, which gives the investors the ability to intervene and help when their help can be most productive (which is early rather than late). Apart from creating traction, regularly updating your existing investors is the best thing you can do to increase chances of follow up investment.
p Here are some selected templates that you can follow to update your investors:

p 
  a(href="https://docs.google.com/document/d/1t2Vcs35eZBmuNYU3iYr7yypX6uiKvC37bTT3K2Z8bdQ/edit#heading=h.2ty5ggxhsi8f", target="_blank") 
    i.fa.fa-external-link-square  
    |  Template 1

.embed-responsive.embed-responsive-4by3
  iframe.embed-responsive-item.iframe-border(height="250px", width="500px", seamless, src="https://docs.google.com/document/d/1t2Vcs35eZBmuNYU3iYr7yypX6uiKvC37bTT3K2Z8bdQ/edit#heading=h.2ty5ggxhsi8f")

p
  a(href="http://christophjanz.blogspot.co.uk/2014/12/introducing-one-slide-update-deck.html", target="_blank") 
    i.fa.fa-external-link-square  
    |  Template 2

.embed-responsive.embed-responsive-4by3
  iframe.embed-responsive-item.iframe-border(height="250px", width="500px", src="http://christophjanz.blogspot.co.uk/2014/12/introducing-one-slide-update-deck.html")

p 
  a(href="http://calacanis.com/2015/01/24/what-should-i-include-in-my-monthly-investment-update/", target="_blank") 
    i.fa.fa-external-link-square  
    |  Template 3 

.embed-responsive.embed-responsive-4by3
  iframe.embed-responsive-item.iframe-border(height="250px", width="500px", src="http://calacanis.com/2015/01/24/what-should-i-include-in-my-monthly-investment-update/")
    

p If you are not writing an update because you are ashamed of sharing your 
  strong bad news
  |, you are making a big mistake. Your investors expect bad news. Welcome to startups. Plus they assume that no update means things are going badly. A bad update doesn’t create damage; it opens up the possibility of getting help and support from your investors. Make sure you write them!
